*{
    background-color: rgb(43, 44, 43);
    
}


h1{
    text-align: center;
    background-color: rgb(220, 46, 41);
    font-family: 'Press Start 2P', cursive;
    color: rgb(43, 44, 43);
}

table{
    text-align: center;
    width: 100%;
    background-color: rgb(138, 137, 136);
}


form{
padding-right: 45%;
text-align: right;
}

input{
    background-color: rgb(241, 242, 237);
}

tr{
    background-color: rgb(138, 137, 136);
}

td{
    background-color: rgb(138, 137, 136);
}

th{
    background-color: rgb(220, 46, 41);
}

button{
    background-color: rgb(220, 46, 41);
}
button:hover{
    background-color: rgb(170, 34, 29);
}

label{
    color: rgb(241, 242, 237);
}

.mario{
    padding-left: 38%;
    height: 250px;
    width: auto;
}




@media only screen and (max-width: 600px) {

    *{
        background-color: rgb(43, 44, 43);
        padding: none;
        
    }
    
    h1{
        text-align: center;
        background-color: rgb(220, 46, 41);
        width: 100%;
        font-family: 'Press Start 2P', cursive;
        color:rgb(43, 44, 43);
    }
    
    table{
        text-align: center;
        width: 100%;
        background-color: rgb(138, 137, 136);
    }
    
    
    form{
    padding-right: 45%;
    text-align: left;
    }
    
    input{
        background-color: rgb(241, 242, 237);
    }
    
    tr{
        background-color: rgb(138, 137, 136);
    }
    
    td{
        background-color: rgb(138, 137, 136);
    }
    
    th{
        background-color: rgb(220, 46, 41);
    }
    
    button{
        background-color: rgb(220, 46, 41);
    }
    button:hover{
        background-color: rgb(170, 34, 29);
    }
    
    label{
        color: rgb(241, 242, 237);
    }
    
    .mario{
        padding: 0px;
        height: 250px;
        width: auto;
    }
}